// #################### General ####################

body {
    background-color: #252525; //rich black
    // **** font-family: , Tahoma, Sans-Serif;
    color: #fffafa; //snow
    margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
    display: flex;
    height: 120vh;        
    justify-content: center;
}

// #################### Nav Bar ####################

.navDiv1 {
    height: 80%;
    width: auto;
}

.logo {
    content: url("../assets/logo.png");
    height: 100%;
    width: auto;
}

.navDiv2 {
    width: 75%;
}

.navDiv3 {
    width: 25%;
}

.navDiv2button {
    width: 33%;
    color: #fffafa; //snow
}

.navDiv3space {
    width: 15%;
}

.navBar {
    width: 100%;
    max-width: 100em;
    height: 4em;
}

.navBackground {
    width: 100%;
    height: 4em;
    background-color: black;

    position: fixed;
}

#mid {
    width: 50%;
    background-color: red;
    height: 200px;
    margin-top: 70px;
    position: fixed;
    z-index: 500;
}

@media (max-width: 770px) {
    // .dropDownOtherPage {
    //     border: 1px solid green;
    // }
    // .navDiv1 {
    //     border: 1px solid green;
    // }
    // .navDiv3button {
    //     float: right;
    //     border: 1px solid green;
    // }
}

/* Nav bar notes
1. when screen width gets really small
----A: create drop down menu;
----B: figure out flex orientation to make one on left, logo in center, and log in on right;
--fade menu
*/