// #################### General ####################

body {
    background-color: #252525; //rich black
    // **** font-family: , Tahoma, Sans-Serif;
    color: #fffafa; //snow
    margin: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
    content: url("../assets/logo.png");
}

// #################### Nav Bar ####################

.container {
    display: flex;
    height: 120vh;        
    justify-content: center;
}

.navDiv1 {
    height: 80%;
    width: auto;
}

.navDiv2 {
    width: 75%;
}

.navDiv3 {
    width: 25%;
}

.navDiv2button {
    width: 33%;
    color: #fffafa; //snow
}

.navDiv3space {
    width: 15%;
}

.navBar {
    width: 100%;
    max-width: 100em;
    height: 4em;
}

.navBackground {
    width: 100%;
    height: 4em;
    background-color: black;

    position: fixed;
}

@media (max-width: 50em) {
    .navDiv2button {
        // display: none;
    }
}

/* Nav bar notes
1. when screen width gets really small
*/